body	{
  background-color: #121212;
color: white;
}
#main	{
width: 100%;
margin: 0;
}
#heading {
text-align: center;
width: 50%;
position: relative;
margin-left: auto;
margin-right: auto;
}
#title	{
width: 960px;
position: relative;
margin-left: auto;
margin-right: auto;
}
#main-container	{
background-color: rgb(114, 137, 218);
width: 50%;
position: relative;
padding: 0.5em 2em;
margin-left: auto;
margin-right: auto;
}